
#sidebar-right {
	display: block;
	float: right;
	margin-right: 10px;
	position: relative;
	width: 300px;
	z-index: 16;
}

#sidebar-header {
    height: 40px;
    background-color: rgba(36, 138, 221, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar-header > h5 {
    color: #fff;
    font-size: 18px;
}

#address-box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#sidebar-right > #balance-box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#form-container {
    width: 350px;
    margin-top: 20px;
}

#form-container  input[type="text"] {
    width: 284px;
}


#send-crypto {
    width: 300px;
    height: 39px;
    background-color: green;
    border: none;
    color: white;   
    font-weight: 700;
    font-size: 20px;
}

